<table id="<%= slug %>">
	<thead>
		<th><abbr title="Operating System">OS</abbr></th>
		<th>Applied Font</th>
	</thead>
	<tbody>
		<% operatingSystems.forEach(function(os){ %>
			<tr class="<% if( os.support ) { %>supported<% } %><% if( os.alias ) { %> aliased<% } %><% if( os.unsupported ) { %> unsupported<% } %><% if( os.fallback ) { %> fallback<% } %>">
				<td><span class="icon-<%= os.shortcode %>" aria-hidden="true"></span><span class="name"><%= os.name %></span> <span class="version"><%= os.version %></span></td>
				<td<% if( os.fontFamily ) { %> style="font-family: '<%= os.fontFamily %>'"<% } %>><%= os.fontFamily %><% if( !os.fontFamily ) { %>&#160;<% } %></td>
			</tr>
		<% }) %>
	</tbody>
</table>
